{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div id="exam-verifications">
  <form class="form-custom-check">
    <label class="small label-custom-checkbox" for="instructions_verification">
      <input type="checkbox" id="instructions_verification" name="instructions_verification" value="instructions_verification">
      {{# str }} instructions, theme_quizzer {{/ str }}
    </label>
    <br>
    
    <label class="small label-custom-checkbox" for="copyrightnotice">
      <input type="checkbox" id="copyrightnotice" name="copyrightnotice" value="copyrightnotice">
      {{# str }} copyrightnotice, theme_quizzer {{/ str }}
    </label>
    <br>
    <!--input type="submit" value="Submit"-->
  </form>
  <p class="small strong">{{# str }} obligatoryapproval, theme_quizzer {{/ str }}</p>
</div>